/*重叠性，当为同一个标签设置同一个属性，后面的属性会作为该标签属性的值*/
div {
    color: red;
}

div {
    color: pink;
}

/*继承性,在div中的标签会继承div的属性，除非有单独设置*/
div {
    font-size: 14px;
    color: red;
    /*关于行高的继承,如果行高不设置单位，则表示行高为当前字体大小的多少倍，下面1.5代表行高为当前字体大小的1.5倍，自动调节行高*/
    font: 12px/1.5 "Microsoft YaHei UI";
}

p {
    /*当前p没有设置行高，而p若包含于div的话，其行高为当前字体大小16*1.5=24px*/
    font-size: 16px;
}

/*优先级*/
/*1.当选择器相同时遵循重叠性原则*/
/*2.当选择器不同时遵循 继承或者*(权重0000)<元素/伪元素选择器(权重0001)<类/伪类选择器(权重0010)<Id选择器(权重0100)<行内样式style=""(权重1000)<!important重要的*(权重无穷大)*/
/*注意点*/
/*权重不会改变*/
/*1.优先级比较权重时是根据从左至右依次判断大小，如果某一位数值相同，则判断下一位*/
p {
    background-color: pink !important;
}

/*若#father为一个包含了p标签的div标签，由于继承的优先级是0所以p标签的文字颜色是pink*/
/*所以我们看标签到底执行哪个样式，就先看这个标签有没有直接被选中*/
#father {
    color: red;
}

p {
    color: pink;
}

/*下面的例子，若.nav是一个div的类，div中有个a标签，此时a的颜色并不是红色，
因为div对于a来说是继承关系，优先级为0，而浏览器为a标签都设置的有默认属性，
所以不单独指定a标签时会优先使用浏览器默认的值*/
.nav {
    color: red;
}

/*权重叠加：使用并集标签时，会有权重叠加，需要计算权重，相加但不会进位如有一百个标签选择器相加权重，其权重为0，0，0，100*/
/*ul权重0，0，0，1 li权重0，0，0，1 相加为0，0，0，2，所以li为红色*/
ul li {
    color: red;
}

li {
    color: pink;
}

/*类选择器权重0010 li权重0001 相加为0011*/
.nav li {
    color: green;
}

/*权重叠加例子*/
/*div ul li---->0,0,0,3*/
/*.nav ul li---->0,0,1,2*/
/*a:hover---->0,0,1,1（：hover是伪类选择器，也就是类选择器）*/
/*.nav a---->0,0,1,1*/

/*错误的说法
在学习过程中，你可能发现给选择器加权值的说法，
即 ID 选择器权值为 100，类选择器权值为 10，标签选择器权值为 1，
当一个选择器由多个 ID 选择器、类选择器或标签选择器组成时，则将所有权值相加，
然后再比较权值。这种说法其实是有问题的。比如一个由 11 个类选择器组成的选择器和一个由 1 个 ID 选择器组成的选择器指向同一个标签，
按理说 110 > 100，应该应用前者的样式，然而事实是应用后者的样式。错误的原因是：权重的进制是并不是十进制，CSS 权重进制在 IE6 为 256，后来扩大到了 65536，
现代浏览器则采用更大的数量。。还是拿刚刚的例子说明。11 个类选择器组成的选择器的总权值为 110，但因为 11 个均为类选择器，所以其实总权值最多不能超过 100，
你可以理解为 99.99，所以最终应用后者样式。*/