/*为什么要使用精灵图*/
/*一个网页中往往会应用很多小的背景图像作为修饰，当网页图像过多时，服务器就会频繁地接受和发送请求图片，*/
/*造成服务器请求压力过大，这将大大降低页面的加载速度。*/
/*因此精灵图的作用：为了有效地减少服务器接收和发送请求的次数，提高页面的加载速度，出现了CSS精灵技术(也称CSS Sprites、CSS雪碧)。*/
/*核心原理：将网页中的一些小背景图像整合到一张大图中，这样服务器只需要一次请求就可以了。*/
/*实现方式：将大图设置为容器的背景图片，并给容器设置宽高，通过background-position: x y; 调整x，y的值，来控制显示区域*/

/*精灵图的缺点*/
/*1.图片文件还是比较大的。*/
/*2.图片本身放大和缩小会失真。*/
/*3.一旦图片制作完毕想要更换非常复杂。*/
* {
    margin: 0 auto;
    height: 0;
}

.sprite {
    width: 60px;
    height: 60px;
    background: url("../images/sprites.png") no-repeat -182px 0;
}

.sprite2 {
    width: 27px;
    height: 25px;
    background: url("../images/sprites.png") no-repeat -155px -106px;
}